* {
	padding: 0;
	margin: 0;
	font-family: arial;
}
body {
	padding: 0 40px;
}

header{
    display: flex;
	background: #fff;
	padding: 10px;
	border: 2px solid #ccc;
}
header img{
    margin-left: 40%;
}

[data-tabs] {
	display: flex;
	background: #eee;
	padding: 10px;
    border: 2px solid #ccc;
}
[data-tabs] >* {
	padding: 5px 20px;
	cursor: pointer;
}
[data-tabs] .active {
	background: #c82329;
	color: #fff;
	border-radius: 5px;
}
[data-panes] > * {
	display: none;
	border: 2px solid #ccc;
	border-top: none;
	padding: 20px;
}
[data-panes] > .active {
	display: block;
}
